@media (max-width:991px) {

    /*Custom Css */
    h1 {
        font-size: 52px;
        line-height: 48px;
    }

    .span {
        font-size: 52px;
        line-height: 48px;
    }

    h2 {
        font-size: 30px;
        line-height: 40px;
    }

    h3 {
        font-size: 20px;
    }

    /*Nav Section*/
    .navbar-nav {
        text-align: center;
        background-color: var(--bg-dark-blue);
        padding-bottom: 15px;
    }

    .nav-link {
        margin-bottom: 10px;
    }

    /*Home Section*/
    .home-image img {
        width: 250px;
        height: 400px;
    }

}

@media (max-width:767px) {

    /*Custom Css */
    h6 {
        font-size: 12px;
    }

    h1 {
        font-size: 45px;
        line-height: 48px;
    }

    .span {
        font-size: 45px;
        line-height: 48px;
    }

    h2 {
        font-size: 25px;
    }

    h3 {
        font-size: 15px;
    }

    p {
        font-size: 13px;
        line-height: 24px;
    }

    section {
        padding: 50px 0;
    }

    /* Home Section  */
    .home_wrapper {
        padding-top: 100px;
    }

    .home-image {
        display: flex;
        justify-content: center;
        margin-top: 130px;
    }

    .home-image img {
        width: 200px;
        height: 320px;
    }

    /* project Section  */
    .project_wrapper .card {
        width: 100%;
        height: 400px;
    }

    .project_wrapper .card-7 span {
        background-size: cover !important;

    }


    /*Contact Section*/
    .contact-image img {
        height: 400px;
        width: 270px
    }
}

@media (max-width:400px) {
    h6 {
        font-size: 10px;
    }

    h1 {
        font-size: 37px;
        line-height: 38px;
    }

    .span {
        font-size: 37px;
        line-height: 38px;
    }
    .home-image img {
        width: 180px;
        height: 270px;
    }
}