* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /*Background Colors*/
    --primary-color: rgb(173, 87, 120);
    --secondary-color: rgb(43, 41, 41);
    --bg-dark-blue: rgb(4, 4, 32);
    --bg-white: white;
    --gray-color: rgb(167, 164, 164);
    --gradient-color: linear-gradient(-224deg, var(--primary-color)0, rgb(79, 139, 179) 100%);
    --gradient-text: linear-gradient(120deg, blue 20.69%, rgb(120, 90, 175) 50.19%, var(--primary-color) 79.69%);

    /*Text Color*/
    --primary-text: rgb(165, 111, 111);
    --text-gray: rgb(221, 217, 217);
    --text-white: white;
}
/* Page Scroll Animation Classes Start */
.sec-1{
    transform: translateX(1000px);
    transition: 0.5s ease-in-out;
    filter: blur(10px);
    opacity: 0;
}
.sec-1.show-animate,
.sec-3.show-animate{
    transform: translateX(0);
    filter: blur(0);
    opacity: 1;
}
.sec-2{
    transform: scale(.2);
    transition: 0.5s ease-in-out;
    filter: blur(10px);
    opacity: 0;
}
.sec-2.show-animate{
    transform: scale(1);
    filter: blur(0);
    opacity: 1;
}
.sec-3{
    transform: translateX(-1000px);
    transition: 0.5s ease-in-out;
    filter: blur(10px);
    opacity: 0;
}
.sec-4{
    filter: blur(10px);
    opacity: 0;
    transform: translateY(1000px);
    transition: 0.5s ease-in-out;
}
.sec-4.show-animate{
    filter: blur(0);
    opacity: 1;
    transform: translateY(0);
}

/* Page Scroll Animation Classes End */

a {
    text-decoration: none;
}

/* 1 Custom CSS */
::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: var(--bg-dark-blue);
}

::-webkit-scrollbar-thumb {
    background: var(--primary-color);
}

section {
    padding: 100px 0;
}

.main-btn {
    display: inline-block;
    border-radius: 50px;
    padding: 10px 27px;
    background-color: transparent;
    border: 2px solid var(--gray-color);
    color: var(--text-gray);
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
}

.main-btn:hover {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    color: var(--text-white);
}

h1 {
    font-size: 55px;
    line-height: 68px;
    font-weight: 800;
    color: var(--text-white);
    margin-bottom: 20px;
    
}

.span {
    font-size: 55px;
    line-height: 68px;
    font-weight: 800;
    color: var(--primary-color);
   
}

h2 {
    font-size: 50px;
    line-height: 1.3;
    font-weight: 600;
    color: var(--text-white);
    margin-bottom: 15px;
}

h3 {
    font-size: 20px;
    font-weight: 600;
    color: var(--text-white);
    margin: 19px 0 10px 0;
}

h6 {
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 4px;
    display: block;
    color: var(--text-gray);
    margin-bottom: 20px;
    height: 20px;
}

p {
    color: var(--text-gray);
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 1px;
    font-weight: 400px;
}

.subtitle {
    display: inline-block;
    font-size: 16px;
    font-weight: 600px;
    letter-spacing: 0.5px;
    line-height: 18px;
    margin-bottom: 12px;
    background: var(--gradient-color);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

input:hover,
input:focus,
textarea:hover,
textarea:focus,
button {
    outline: none !important;
    box-shadow: none !important;
}

.opacity {
    opacity: 0.99 !important;
}

/*NavBar*/
.header_wrapper {
    position: relative;
}

.header_wrapper .navbar {
    transition: all .2s linear;
    padding: 0;
}

.header_wrapper b {
    color: var(--primary-color);
    font-size: 50px;
    padding: 5px 25px;
    border-radius: 50px;
    transition: 0.8s linear;
}

.header_wrapper b:hover {
    border: 2px solid var(--primary-color);
    background-color: var(--primary-color);
    color: var(--text-white);
}

.header_wrapper .navbar-toggler {
    border: 0;
    background-color: var(--gray-color);
}

.header_wrapper .nav-item {
    margin: 0 10px;
}

.header_wrapper .nav-item .nav-link {
    position: relative;
    font-size: 16px;
    font-weight: 500;
    color: var(--gray-color);
    display: inline-block;
}

.header_wrapper .nav-item .nav-link::after {
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: var(--primary-color);
    transition: 0.3s;
}

.header_wrapper .nav-item .nav-link.active::after,
.header_wrapper .nav-item .nav-link:hover::after {
    width: 100%;
}

.header_wrapper .nav-item .nav-link.active,
.header_wrapper .nav-item .nav-link:hover {
    color: var(--text-white);
}

.header-scrolled {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--bg-dark-blue);
}

/*Home Section*/

.home_wrapper {
    width: auto;
    height: 100vh;
    min-height: 600px;
    padding: 100px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow-x: hidden;
}

.home_wrapper::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-image: url(../IMAGE/bg.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100%;
    width: 100%;
    opacity: 0.25;
}

.home-image img {
    width: 300px;
    height: 500px;
    border-radius: 50px;
    box-shadow: 5px 10px 5px 5px black;
}

.cv a {
    font-size: 20px;
    font-weight: bolder;
}

/*About Section*/

.about-image img {
    width: 300px;
    height: 450px;
    box-shadow: 5px 10px 5px 10px black;
    border-radius: 10px;
}

/*Project Section*/

.project_wrapper .card {
    width: 100%;
    height: 350px;
    border: 1px solid var(--bg-white);
}

.project_wrapper .card-1 a {
    background-image: url(../IMAGE/quiz.png);
    height: 100%;
    width: 100%;
    background-position: center;
    background-size: cover;
    transition: 2s ease-in-out;
    border-radius: 5px;
}

.project_wrapper .card-1 a:hover {
    background-image: url(../IMAGE/quiz2.png);
    height: 100%;
    width: 100%;
    background-position: center;

}

.project_wrapper .card-2 a {
    background-image: url(../IMAGE/tic-tac-toe2.png);
    height: 100%;
    width: 100%;
    background-position: center;
    background-size: cover;
    transition: 2s ease-in-out;
    border-radius: 5px;
}

.project_wrapper .card-2 a:hover {
    background-image: url(../IMAGE/tic-tac-toe.png);
    height: 100%;
    width: 100%;
    background-position: center;

}

.project_wrapper .card-7 a,
.card-4 a {
    height: 100%;
    width: 100%;
    background-position: top center !important;
    background-size: cover !important;
    transition: 4s ease-in-out;
    border-radius: 5px;
}

.project_wrapper .card-7 a:hover,
.card-4 a:hover {
    background-position: bottom center !important;
}

.project_wrapper .card a {
    height: 100%;
    width: 100%;
    background-position: center;
    background-size: 100% 100%;
    border-radius: 5px;
}
.project_wrapper .card-10 video{
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

/*Contact Section*/
.contact-wrapper label {
    color: var(--gray-color);
}

.contact-wrapper a {
    color: var(--gray-color);
}

.contact-image {
    display: flex;
    justify-content: center;
}

.contact-image img {
    height: 550px;
    width: 35 0px;
    box-shadow: 5px 10px 5px 10px black;
    border-radius: 10px;
}

/*Footer Section*/


.footer ul li a {
    border: 1px solid var(--bg-white);
    padding: 5px 10px;
    border-radius: 100%;
    color: var(--text-gray);
    font-size: medium;
    transition: 0.8s ease-in-out;
}

.footer ul li a:hover {
    background-color: var(--primary-color);
    color: var(--text-white);
}